@using CLTI.Diagnosis.Client.Algoritm.Services
@using Microsoft.AspNetCore.Components.Authorization
@using CLTI.Diagnosis.Client.Components
@using CLTI.Diagnosis.Client.Shared
@inject StateService StateService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="frame-parent">
    <div class="logo-menu-1-parent">
        <!-- Логотип -->
        <a href="/" class="btn btn-primary">
            <img class="logo-menu-1-icon" src="Photo/logo-menu.png" alt="CLTI Diagnosis Logo">
        </a>

        <!-- Основний блок з фільтром і користувачем -->
        <div class="instance-parent">
            <!-- Гемодинамічні дослідження - завжди видимі -->
            @if (StateService.ShowHemodynamicSection)
            {
                <SideBarDropDown Placeholder="Гемодинамічні дослідження" DefaultOpen="true"
                                 Items='@(GetHemodynamicItems())' />
            }

            <!-- WiFI секція - показується після завершення КПІ/ППІ -->
            @if (StateService.ShowWifiSection)
            {
                <SideBarDropDown Placeholder="Оцінка ураженої кінцівки за класифікацією WIfI " DefaultOpen="true"
                                 Items='@(GetWifiItems())' />
            }

            <!-- CRAB секція - показується після завершення WiFI результатів -->
            @if (StateService.IsWiFIResultsCompleted)
            {
                <SideBarDropDown Placeholder="Оцінка ступеня хірургічного ризику" DefaultOpen="true"
                                 Items='@(GetRiskItems())' />
            }

            <!-- GLASS секція - показується після завершення хірургічного ризику -->
            @if (StateService.IsSurgicalRiskCompleted)
            {
                <SideBarDropDown Placeholder="Класифікація анатомічних уражень артерій нижніх кінцівок"
                                 DefaultOpen="true"
                                 Items='@(GetGLASSItems())' />
            }

            <!-- Додаткові секції можна додати пізніше -->
        </div>
    </div>

    <!-- Інформація про користувача -->
    <div class="component-1-child"></div>
    <div class="frame-container" @onclick="ToggleUserMenu">
        <div class="frame-div">
            <img class="frame-icon" alt="User Icon" src="Photo/userIcon.png" />
            <div class="parent">
                <div class="div7">@username</div>
                <div class="usergmailcom">@useremail</div>
            </div>
        </div>
        <img class="caretdown-icon @(showUserMenu ? "rotated" : "")" alt="caret" src="Photo/CaretDown.png" />
    </div>

    <UserContexMenu @ref="userContextMenuRef" OnClose="CloseUserMenu" />
</div>