<div class="text-field-input">
    <input class="@CssClass"
           style="@StyleString"
           placeholder="@Placeholder"
           type="@Type"
           value="@Value"
           @oninput="OnValueChanged"
           disabled="@Disabled" />
</div>
